

<ion-content id="content">
  <ion-header>
    <ion-toolbar id="toolbarh" color="black">
      <ion-buttons slot="start">
        <ion-button>
          <img id="menus" [routerLink]="['/home']"  src="\assets\iconosmenu\menu.png">
        </ion-button>
      </ion-buttons>
    
  
          <ion-buttons  slot="end">
            <ion-button>
              <img id="menus" [routerLink]="['/home']"  src="\assets\iconosmenu\back-arrow.png">
            </ion-button>
          </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-toolbar id="toolbar" color="black">
    <ion-buttons slot="start">
      <ion-button>
        <img id="logoimperium"   src="\assets\logoImperium.png">
      </ion-button>
    </ion-buttons>     
        <ion-title slot="secondary" id="labelh">Balance areas</ion-title>    
  </ion-toolbar>
  <!-- diseñado para 3 botones -->
  <!-- <ion-card>
    <img  src="\assets\logoImperium.png" alt="">
  </ion-card>
  <br> -->

    <ion-card >
      <ion-list  lines="none"  >
       
      <ion-item lines="none">              
        <ion-row >
          <ion-col size="6" >  
            <h1 id="h1" >domicilio #502 </h1>                
              <h2 id="label1">Mantenimineto</h2>
              <h2 id="label1">estatus</h2>
          </ion-col>
          <ion-col size="6">
            <ion-row>
              <ion-col size="12" >
                <button id="btnMenus" mode="md" ><img id="logoimperium"   src="\assets\logoImperium.png"></button>
              </ion-col> 
            </ion-row> 
          </ion-col>
          <ion-col size="12"> 
          </ion-col>
        </ion-row>
      </ion-item>
      <hr>
      </ion-list>
    </ion-card> 
</ion-content>
