
<ion-content id="content">
  <ion-header>
    <ion-toolbar id="toolbarh" color="black">
      <ion-buttons slot="start">
        <ion-button>
          <img id="menus" [routerLink]="['/home']"  src="\assets\iconosmenu\menu.png">
        </ion-button>
      </ion-buttons>
    
  
          <ion-buttons  slot="end">
            <ion-button>
              <img id="menus" [routerLink]="['/home']"  src="\assets\iconosmenu\back-arrow.png">
            </ion-button>
          </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-toolbar id="toolbar" color="black">
    <ion-buttons slot="start">
      <ion-button>
        <img id="logoimperium"   src="\assets\logoImperium.png">
      </ion-button>
    </ion-buttons>     
        <ion-title slot="secondary" id="labelh">Polls Performed</ion-title>    
  </ion-toolbar>

  
  <!-- diseñado para 3 botones -->

  <ion-list mode="md">
    <ion-item>
      <ion-label id="label" >Pokémon Yellow</ion-label>
    </ion-item>
    <hr>
  
  </ion-list>
  
</ion-content>
