<ion-header>
  <ion-toolbar id="toolbarh" color="black">
    <ion-buttons slot="start">
      <ion-button>
        <img id="menus" [routerLink]="['/home']"  src="\assets\iconosmenu\menu.png">
      </ion-button>
    </ion-buttons>
  

        <ion-buttons  slot="end">
          <ion-button>
            <img id="menus" [routerLink]="['/home']"  src="\assets\iconosmenu\back-arrow.png">
          </ion-button>
        </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content id="content">
  <ion-toolbar id="toolbar" color="black">
    <ion-buttons slot="start">
      <ion-button>
        <img id="logoimperium"   src="\assets\logoImperium.png">
      </ion-button>
    </ion-buttons>     
        <ion-title slot="secondary" id="labelh">Configurations</ion-title>    
  </ion-toolbar>

  
     <!-- diseñado para 3 botones -->
     <ion-card>
      <img  src="\assets\logoImperium.png" alt="">
    </ion-card>
  
    <ion-card>
   
      <ion-button mode="md" id="btnMenus"  [routerLink]="['/configurations-create']">registros colonos </ion-button><br>
      <hr>
      <ion-button mode="md" id="btnMenus"  [routerLink]="['/configurations-password']">contraseñas</ion-button><br>
      <hr>
      <ion-button mode="md" id="btnMenus" [routerLink]="['/configurations-logos']">logos</ion-button><br>
      <hr>
      <ion-button mode="md" id="btnMenus"  [routerLink]="['/configurations-permissions']">permisos</ion-button><br>
      
  
  
    </ion-card>

</ion-content>
