
<ion-content id="content" #content>
  <ion-header>
    <ion-toolbar id="toolbarh" color="black">
      <ion-buttons slot="start">
        <ion-button>
          <img id="menus" [routerLink]="['/home']"  src="\assets\iconosmenu\menu.png">
        </ion-button>
      </ion-buttons>
    
  
          <ion-buttons  slot="end">
            <ion-button>
              <img id="menus" [routerLink]="['/home']"  src="\assets\iconosmenu\back-arrow.png">
            </ion-button>
          </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-toolbar id="toolbar" color="black">
    <ion-buttons slot="start">
      <ion-button>
        <img id="logoimperium"   src="\assets\logoImperium.png">
      </ion-button>
    </ion-buttons>     
        <ion-title slot="secondary" id="labelh">Post Private</ion-title>    
  </ion-toolbar>

  
  
     <!-- diseñado para 3 botones -->
     <ion-card>
      <img  src="\assets\logoImperium.png" alt="">
    </ion-card>

    <ion-card>
      <ion-list>
        <ion-item *ngFor="let post of datos ">
          <ion-avatar slot="start">
            <img src="/assets/iconosmenu/usuario.png">
          </ion-avatar>
          <ion-label> 
            <a href="https://api.whatsapp.com/send?phone=+521{{post.telefono}}">
              <h3 style="color: whitesmoke;">{{ post.domicilio}}</h3> </a>          
          </ion-label>
        </ion-item>
      </ion-list> 
    </ion-card>

  

</ion-content>



