<!-- <ion-header>
  <ion-toolbar>
    <ion-title>posts-private</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content> -->

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Conv."></ion-back-button>
    </ion-buttons>
    <ion-title>Luke Skywalker<br><div class="status">En ligne</div></ion-title>
    <ion-avatar slot="end">
      <img id="menus" src="../../assets/logoImperium.png">
    </ion-avatar>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="bg"></div>
  <ion-item lines="none">
    <ion-badge color="warning" slot="end">Hey Luke como te va ?! <ion-note color="medium">17:01 <ion-icon name="done-all"></ion-icon></ion-note></ion-badge>
  </ion-item>
  
  <ion-item lines="none">
    <ion-badge color="light" slot="start">mark bien gracias <ion-note color="medium">17:04</ion-note></ion-badge>
  </ion-item>
 </ion-content>
 <ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="outline" shape="round" size="small">
        <ion-icon slot="icon-only" name="arrow-round-up"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-input placeholder="Votre message"></ion-input>
    <ion-buttons slot="end">
      <ion-button >
        Envoyer
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
