#toolbar{   
  padding-top: 30px;
  margin: 20px;
}
#labelh{
 margin: 15px;
 text-align: justify;
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 color: whitesmoke;
 font-size: 15px;
}

#content{    
 --ion-background-color: #000000 ;  
}
#titulos{
 color: whitesmoke;
}
#logoimperium{
 margin: 1px;
 width: 120px;
}

#logo{
 width: 40%;
}
ion-col{
 margin-top: 5px;
 text-align: center;
}
#label{
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 color: whitesmoke;
 font-size: 15px;
}

ion-card{
 padding-top:40px;
}